player-connection-mode=Listen
player-connection-guid=2371939173
player-connection-debug=0
player-connection-project-name=Loputoo_entities
player-connection-ip=192.168.68.104
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ba560afb0d584ccba03c07f435a38b4a
